
/*
.list_container{
    display: flex;
    flex-flow: column;  
  }
  */

  .spinner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  
  .list_child{
    flex: 1 1 auto;
    /* min/max height is what locks the child container size*/
    /* allows scrolling when too many 75x containers fill viewport*/
    min-height: 40px;
    max-height: fit-content;
    margin: 10px;
    padding: 10px;
    
  }

  .display{
    text-align: left; 
  }

  .col{
    border: 1px dotted grey;
  }

  .selected-bg-col{
      background-color: aqua;
  }

  .bg-col{
    
    background-color: orange;
}