.guestpage_container {
  /*
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  */

  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  
}

.row{
  padding:5px;
  border: 1px dotted grey;
}

.col{
  border: 1px dotted grey;
}

.map_container{

  flex: 1 1 auto;
}

.right_container{
  display: flex;
  flex-flow: column;

 /*width: 50%;*/
  flex: 1 1 auto;
  height: 100%;
}

/* sub-containers have heights that add up to 100%*/
.top_child_list{
  flex: 1 1 70%;
  background-color: purple;
  /* overflow-y is what allows the container to be scrollable */
  overflow-y: auto;
}

.bottom_child{
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 1 15%;
  background-color: red;
}

.top_child_filter{
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1 1 5%;
  background-color: rgb(0, 255, 106);
}



