html,
body {
  height: 100%;
  margin: 0px;
  
}

.app_container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  border: 1px dotted grey;
  
}


.header_child {
  flex: 0 1 auto;
  
}

.content_child {
  
  flex: 1 1 auto;
  overflow-y: auto;
}

.footer_child {
  flex: 0 1 40px;
}
