.guestpage_container {
  /*
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  */

  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  
  
  
  
}

.left_container{

  /*
  display: flex;
  flex-flow: column;
  */
  
  flex: 1 1 auto;
  margin: 2px;
  padding: 2px;
  border: 1px dotted grey;
}

.topright_container{
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  border: 1px dotted grey;

  margin: 2px;
  padding: 2px;
  height: 50%;
}

